@background: #EAF1F1;

#carousel {
	border-bottom: solid 35px #00283A;
	background: #000;
	min-height: 100px;
}

#content {
	background: @background;
	padding: 45px 0;

	.constrained {
		overflow: visible;
		padding-right: 340px;
		max-width: 620px;
	}

	&:after {
	    content: ".";
	    display: block;
	    height: 0;
	    clear: both;
	    visibility: hidden;
	}
}

#content-inner {
	float: left;
	width: 100%;
}

@import "_sidebar";

ol.steps {
	border-left: solid 10px #DDE4E4;
	list-style: none;
	margin: 50px 0 0 25px;
	padding: 0 0 0 25px;
	position: relative;
	counter-reset: steps;
}

ol.steps > li {
	background: #F5F5F5;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.25);
	counter-increment: steps;
	position: relative;
	margin: 0 0 20px;
	padding: 0 20px 30px;

	&.empty {
		padding-bottom: 0;
	}

	&:first-child::before,
	&:last-child::before {
		content: "";
		position: absolute;
		top: 0;
		left: -35px;
		width: 10px;
		height: 35px;
		background: @background;
	}

	&:last-child::before {
		top: 35px;
		bottom: 0;
		left: -35px;
		height: auto;
	}

	&::after {
		font-size: 1.11em;
		content: counter(steps);
		position: absolute;
		top: 30px;
		left: -30px;
		width: 30px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		border-radius: 50%;
		margin: -0.5em 0 0 -18px;
		border: solid 3px #FFF;
		color: #FFF;
		background: #37B683;
		box-shadow: 0 2px 4px rgba(0,0,0,0.25);
		box-shadow: 0 2px 4px rgba(0,0,0,0.25), inset 0 2px 4px rgba(0,0,0,0.25);
	}
}

ol.steps h3 {
	background: #FFF;
	padding: 30px 20px;
	margin: 0 -20px 30px;
	border-bottom: solid 1px #DDDEDE;
	border-radius: 5px 5px 0 0;
}

ol.steps > li.empty h3 {
	margin-bottom: 0;
	border-radius: 5px;
}

ol.steps ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

ol.steps ul li,
ol.steps p,
ol.steps pre {
	margin: 20px 0 0;
	position: relative;
}

ol.steps ul li::after,
ol.steps p::after,
ol.steps pre::after {
	content: "";
	position: absolute;
	top: 0;
	left: -50px;
	width: 10px;
	height: 10px;
	border: solid 3px #FFF;
	border-radius: 50%;
	background: #37B683;
	margin: 0 0 0 -8px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.25);
	box-shadow: 0 2px 4px rgba(0,0,0,0.25), inset 0 2px 4px rgba(0,0,0,0.25);
}

ol.steps pre {
	white-space: pre-wrap;
	line-height: 1.75em;
	margin: 0 0 0 15px;
	padding: 20px 30px;
	border-radius: 5px;
	background: #FFF;
	box-shadow: 0 2px 4px rgba(0,0,0,0.25);
}

ol.steps pre::before {
	content: "";
	position: absolute;
	width: 15px;
	height: 34px;
	top: 18px;
	right: 100%;
	background: url(assets/pre-arrow.png);
}

ol.steps pre::after {
	top: 26px;
	left: -65px;
}
