@green: #37B683;
@blue: #00283A;
@slate: #4D4D4D;
@nav-border: ~"solid 1px #E5E5E6";

@import "_fonts";

html,
body {
	background: #FFF;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: @slate;
}

h1, h2, h3, h4 {
	font-weight: bold;
	color: @blue;
	margin: 0;
}

h1 {
	font-size: 1.85em;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.38em;
}

h4 {
	font-size: 1.08em;
}

.constrained {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 20px;
	overflow: hidden;
	// background: rgba(255,0,0,0.05);
}

.menu {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		width: 140px;
		margin: 0 20px 0 0;
		padding: 4px 0;
		float: left;
		border-bottom: @nav-border;

		&:nth-last-child(1) {
			border-bottom: none;
		}
	}

	a {
		text-decoration: none;
		display: block;
		padding: 6px 0;
		color: inherit;
	}

	.current-menu-item a,
	.current-page-ancestor a {
		border-left: solid 3px @green;
		margin-left: -13px;
		padding-left: 10px;
		background: #EAF1F1;
	}
}

a {
	color: @green;
	text-decoration: none;

	&.button {
		background: @green;
		border-radius: 3px;
		text-align: center;
		color: #FFF;
		padding: 10px;
	}
}

@import "_header";
@import "_content";
@import "_footer";