@green: #37B683;
@blue: #00283A;
@slate: #4D4D4D;
@nav-border: ~"solid 1px #E5E5E6";
@background: #EAF1F1;

@import "_mixins";
@import "_fonts";

html,
body {
	background: #FFF;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: @slate;
}

.constrained {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 20px;
	overflow: hidden;
}

/* ===[ Standard Bits and Pieces ]=========================================== */

h1, h2, h3, h4 {
	font-weight: bold;
	color: @blue;
	margin: 0;
	clear: both;
}

h1 {
	font-size: 1.85em;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.38em;
}

h4 {
	font-size: 1.08em;
}

ul {
	list-style: square;
}

p,
li {
	margin: 1em 0 0;

	&.center {
		text-align: center;
	}

	&.right {
		text-align: right;
	}

	&.intro {
		font-size: 1.38em;
	}

	&.intro-large {
		font-size: 1.85em;
	}
}

a {
	color: @green;
	text-decoration: none;
}

body.archive article {
	margin-top: 50px;
}

article header {
	margin-bottom: 25px;
}

aside.more {
	margin: 50px -10px 0;
	padding: 0 10px;
	overflow: hidden;

	section {
		margin: 20px 20px 0 0;
		width: 140px;
		float: left;

		h3 {
			font-size: 1.08em;
		}

		ul {
			margin: 0;
			padding: 0 0 10px;
			list-style: none;
		}

		li.selected a {
			background: @blue;
			color: #EEE;
			padding: 3px 6px;
			margin-left: -6px;
		}
	}
}

/* ===[ Menus ]============================================================== */

.menu {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		width: 140px;
		margin: 0 20px 0 0;
		padding: 4px 0;
		float: left;
		border-bottom: @nav-border;

		// This could be done with :last-child, but we also need to support
		// :nth-last-child(>1), and it looks weird when some of it works but
		// not the rest.
		&:nth-last-child(1) {
			border-bottom: none;
		}
	}

	a {
		display: block;
		padding: 6px 0;
		color: inherit;
	}

	.current-menu-item a,
	.current-page-ancestor a {
		border-left: solid 3px @green;
		margin-left: -13px;
		padding-left: 10px;
		background: #EAF1F1;
	}
}

@import "_header";
@import "_content";
@import "_footer";

@import "_components";
